<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtOvxZy5ZPsav97JpQMS3S7YdPvarSOnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>108606964741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inam786.ping</string>
	<key>PROJECT_ID</key>
	<string>ping-3779a</string>
	<key>STORAGE_BUCKET</key>
	<string>ping-3779a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108606964741:ios:7d3a7e9bd961185c41486c</string>
	<key>DATABASE_URL</key>
	<string>https://ping-3779a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>